<div class="nav">
  <p class="text">ORDER FOR ME</p>
</div>
<div class="first-section">
  <div class="search">
    <h4>FIND A RESTAURANT:
    </h4>
    <form>
      <input class="restaurant" type="textarea" name="restaurant" placeholder="Restaurant Name">
      <input class="location" type="textarea" name="citystate" placeholder="City, State">
      <input type="submit" value="search">
    </form>
  </div>
  <div class="results">
    <ol>
      <li>Grilled Cheese</li>
    </ol>
  </div>
</div>

<div class="mid-section">
  some mid stuff
</div>

<div class="second-section">
  <div class="trending-dishes">
    some final stuff
  </div>
</div>

