<!-- THIS IS OUR CODE - DO NOT MODIFY -->

<!-- <div class="nav">
  <p class="text">ORDER FOR ME</p>
</div>
<div class="first-section">
  <div class="search">
    <h4>FIND A RESTAURANT:
    </h4>
    <form class="restaurant_search">
      <input class="restaurant" type="textarea" name="restaurant" placeholder="Restaurant Name">
      <input class="location" type="textarea" name="citystate" placeholder="City, State">
      <input type="submit" value="search">
    </form>
  </div>
  <div class="results">
    <ol>
    </ol>
  </div>
</div>

<div>
  <ol class="mid-section">
  </ol>
</div>

<div class="container">
</div> -->

<!-- THIS IS OUR CODE ABOVE - DO NOT MODIFY -->



 <!-- Navigation -->
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">ORDER FOR ME                                  <i class="fa fa-cutlery"></i></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Trending Eats</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">FIND A RESTAURANT</div>
                <div class="intro-heading">
                  <form class="restaurant_search">
                    <input class="restaurant" type="textarea" name="restaurant" placeholder="Restaurant Name">
                    <input class="location" type="textarea" name="citystate" placeholder="City, State">
                </div>
                <input class="submit" type="submit" value="search">
                </form>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    <h2 class="section-heading-mid-div">Which restaurant are you looking for?</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                    <ul class="pgwSlideshow"></ul>
                                                            <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-cutlery fa-stack-1x"></i>
                    </span>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-glass fa-stack-1x"></i>
                    </span>
                                        <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-beer fa-stack-1x"></i>
                    </span>
                                        <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-spoon fa-stack-1x"></i>
                    </span>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading"></h4>
                    <p class="text-muted"><!-- Location --></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Top Five Dishes</h2>
                    <h3 class="section-subheading text-muted">Check out what people are saying about this dish on Foursquare!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <!-- <img src="#ss="img-responsive" alt=""> -->
                    </a>
                    <div class="portfolio-caption">
                        <h4 class="dish"></h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading-mid-div">Comments</h2>
                    <h3 class="comments"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Trending Restaurants</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <!-- <img src="#" class="img-responsive img-circle" alt=""> -->
                        <h4></h4>
                        <p class="text-muted"></p>
                        <ul class="list-inline social-buttons">
                            <!-- <li><a href="#"><i class="fa fa-twitter"></i></a> -->
                            <!-- </li> -->
                            <!-- <li><a href="#"><i class="fa fa-facebook"></i></a> -->
                            <!-- </li> -->
                            <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a> -->
                            <!-- </li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <!-- <img src="#" class="img-responsive img-circle" alt=""> -->
                        <h4></h4>
                        <p class="text-muted"></p>
                        <ul class="list-inline social-buttons">
                            <!-- <li><a href="#"><i class="fa fa-twitter"></i></a> -->
                            <!-- </li> -->
                            <!-- <li><a href="#"><i class="fa fa-facebook"></i></a> -->
                            <!-- </li> -->
                            <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a> -->
                            <!-- </li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <!-- <img src="#" class="img-responsive img-circle" alt=""> -->
                        <h4></h4>
                        <p class="text-muted"></p>
                        <ul class="list-inline social-buttons">
                            <!-- <li><a href="#"><i class="fa fa-twitter"></i></a> -->
                            <!-- </li> -->
                            <!-- <li><a href="#"><i class="fa fa-facebook"></i></a> -->
                            <!-- </li> -->
                            <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a> -->
                            <!-- </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <!-- <img src="#" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <!-- <img src="#" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <!-- <img src="#" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <!-- <img src="#" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Contact Section -->
    <!-- removed -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
